{% extends 'base.html.twig' %}

{% block title %} Caprica {% endblock %}

{% block body %}
    <div class="index">
        <div class="block">
            <img src="{{ asset('build/img/caprica.png') }}" alt="">
            <h1 class="h1 text-center">Welcome to Caprica parking orbit</h1>
            <p class="text-center">Please wait further instructions.</p>
        </div>
    </div>
{% endblock %}
