.index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    min-height: 100vh;
    width: 100%;
    justify-items: center;
    align-items: center;
    padding: 2rem;
    .block {
        margin-bottom: 10rem;
        img {
            display: block;
            max-width: 400px;
            margin: 0 auto 3rem;
        }
    }
}